<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../../lsh/js/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="root">
        姓：<input type="text" v-model='firstName'><br><br> 名:
        <input type="text" v-model='lastName'> <br><br> 全民：
        <div>{{fullName}}</div>
        <!-- <h2>今天天气很{{info}}</h2>
        <button @click="changeClick">按钮</button> -->
    </div>
</body>
<script>
    Vue.config.productionTip = false; //阻止vue在启动时产生生产提示
    const vm = new Vue({
        el: '#root',
        data() {
            return {
                // isHot: true,
                firstName: "张",
                lastName: "三",
                fullName: "",
            }
        },
        // computed: {
        //     fullName: {
        //         get() {
        //             return this.firstName + '-' + this.lastName
        //         },
        //         set(value) {
        //             const arr = value.split('-')
        //             this.firstName = arr[0],
        //                 this.lastName = arr[1]
        //         }
        //     }
        // }

        // computed: {
        //     fullName: {
        //         get() {
        //             return this.firstName + '-' + this.lastName
        //         }
        //     }
        // }
        methods: {
            // changeClick() {
            //     this.isHot = !this.isHot
            // }
        },
        // computed: {
        //     info() {
        //         return this.isHot ? '炎热' : '凉爽'
        //     }
        // },
        // watch: {
        //     isHot: {
        //         immediate: true,
        //         handler(newValue, oldValue) {
        //             console.log('isHot属性被修改了', newValue, oldValue)
        //         }
        //     }
        // }
        watch: {
            firstName(val) {
                this.fullName = val + '-' + this.lastName
            },
            lastName(val) {
                this.fullName = this.lastName + '-' + val
            }
        }
    })

    // vm.$watch('isHot', {
    //     immediate: true,
    //     handler(newValue, oldValue) {
    //         console.log('isHot被修改了', newValue, oldValue)
    //     }
    // })
</script>

</html>