<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="root">
        姓：<input type="text" v-model='fristName'> 名：
        <input type="text" v-model='lastName'> 全名：
        <div>{{fullName}}</div>
    </div>
</body>
<script>
    Vue.config.productionTip = false
    const vm = new Vue({
            el: '#root',
            data: {
                fristName: '张',
                lastName: '三',
                fullName: ''
            },
            // computed: {
            //     fullName: {
            //         get() {
            //             return this.fristName + '-' + this.lastName
            //         },
            //         set(value) {
            //             const arr = value.split('-')
            //             this.fristName = arr[0],
            //                 this.lastName = arr[1]
            //         }
            //     }
            // }

            //简写
            // computed: {
            //     fullName() {
            //         return this.fristName + '-' + this.lastName
            //     }
            // }

            // watch: {
            //     fristName(val) {
            //         this.fullName = val + this.lastName
            //     },
            //     lastName(val) {
            //         this.fullName = this.fristName + val
            //     }
            // }
        })
        // vm.$watch('fristName', {
        //     handler(newValue, oldValue) {
        //         console('firstName值被需改了', newValue, oldValue)
        //     }
        // })
</script>

</html>